# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Output directory
dist/
dist-ssr/

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvsca*
*.sw?
.DS_Store
